@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --txt1:#6f6f6f;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


header{
    border: 1px solid red;
}

header nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul a{
    color: #949494;
    font-weight: 600;
    transition: 0.3s ease;
}

header nav ul a:hover{  
    color: var(--txt1);
    font-weight: 600;
}


/*CartMenu*/
.cartMenu{
    background-color: #6f6f6f2c;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;

}


.containerCartMenu{
   background: #ffffff;
   height: 100vh;
   width: 300px;
   position: absolute;
   right: 0;
   top: 0;
   
}

.cartClose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid red;
    border-bottom: 2px solid #6f6f6f62;
    
}

.cartClose h4{
    color: #858585;
}

.cartClose button{
    border: none;
    width: 35px;
    height: 35px;
    opacity: 0.9;
    transition: 0.3s ease;
    cursor: pointer;
}

.cartClose button:hover{
    opacity: 1;
}


.itemCartMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.itemCartMenu img{
    width: 100px;

}