
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --color1:#6F6F6F;
    --color2: #FF7A00;
    --color3: #0D9202;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}